{% extends 'base-index.html' %}

{% load static %}

{% block title %}Login {% endblock %}


{% block 'head' %} <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css"> {%endblock%}
    



{% block 'sidebar' %}
<li>
  <a href="#"><i class="bi bi-journal-bookmark-fill"></i>Adicionar Registro</a>
</li>

<li class="active">
  <a href="#"><i class="bi bi-house-fill"></i>Dashboard</a>
</li>


<li>
  <a href="#"><i class="bi bi-mortarboard-fill"></i>Turmas</a>
</li>

<li>
  <a href="#"><i class="bi bi-question-circle"></i>Ajuda</a>
</li>

<li>
  <a href="{%  url 'logout' %}"><i class="bi bi-box-arrow-in-right"></i>Sair</a>
</li>

{%endblock%}


{% block 'conteudo' %} 

    <div class="content-wrapper">
        <section class="dashboard-top-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="bg-white top-chart-overview">
                            <div class="row">
                                <div class="col-sm-4 my-2 pe-0 align-self-center">
                                    <div class="last-month">
                                        <h5>Dashboard</h5>
                                        <p>Visão Geral</p>
                                        <div class="students">
                                            <h2>{{total}}</h2>
                                            <p>Alunos observados</p>
                                            <h2>{{imc_outlier}}</h2>
                                            <p>Alunos fora do IMC padrão</p>
                                            
                                        </div>
                                        <a href="#tabelaHistorico" class="btn main-gradient text-light shadow"> Visualizar em tabela</a>
                                    </div>
                                </div>

                                <div class="col-sm-8 my-2 ps-0">
                                    <div class="classic-tabs">
                                        <div class="tabs-wrapper">
                                            <ul class="nav nav-pills chart-header-tab mb-3" id="pills-tab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link chart-nav active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Todos</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link chart-nav" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Feminino</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link chart-nav" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Masculino</button>
                                                </li>
                                              </ul>

                                              <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                                    <div class="widget-content">
                                                        <div id="geral">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                                    <div class="widget-content">
                                                        <div id="female">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                                    <div class="widget-content">
                                                        <div id="male">
                                                        </div>
                                                    </div>

                                                </div>
                                              </div>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>

                            <div class="wre-sec">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-6 my-1 bdr-cls">
                                        <div class="students-view">
                                            <spna class="bi bi-exclamation-lg student-icon low-weight"></spna>

                                            <div class="student-view-text">
                                                <p class="name-text">
                                                    Abaixo do peso
                                                </p>
                                                <h6 class="balance-text">
                                                    {{ total_ab }}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-6 my-1 bdr-cls">
                                        <div class="students-view">
                                            <spna class="bi bi-check-lg student-icon normal-weight"></spna>

                                            <div class="student-view-text">
                                                <p class="name-text">
                                                    Peso normal
                                                </p>
                                                <h6 class="balance-text">
                                                    {{ total_pn }}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-6 my-1 bdr-cls">
                                        <div class="students-view">
                                            <spna class="bi bi-exclamation-lg student-icon over-weight"></spna>

                                            <div class="student-view-text">
                                                <p class="name-text">
                                                    Sobrepeso
                                                </p>
                                                <h6 class="balance-text">
                                                    {{ total_sp }}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-6 my-1 bdr-cls">
                                        <div class="students-view">
                                            <spna class="bi bi-exclamation-lg student-icon obesity"></spna>

                                            <div class="student-view-text">
                                                <p class="name-text">
                                                    Obesidade
                                                </p>
                                                <h6 class="balance-text">
                                                    {{ total_obs }}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="bg-white top-chart-overview donnut-card">
                            <div class="donnut-title">
                                <p>Condicionamento</p>
                            </div>
                            <div class="conditioning">
                                <div id="chart-2"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section id="tabelaHistorico">
            <div class="sm-filters-sec my-5">
                <div class="bg-white mx-2">
                  <p class="register-ac-title">Registros Históricos</p>
                    <div class="row" id="ajustefiltro">
                      <form action="{% url 'dashboard' %}" method="POST" id = 'filtro'>
                        {% csrf_token %}
                        <div class="input-group">
                            <div class="col-lg-3 col-md-6 col-sm-3 filtro-pos my-2">
                              
                                
                                        <div class="form-floating">
                                            {{ filtro.nome }}
                                            
                                            
                                            <br>
                                            <label class="fs-8" for="floatingSelectGrid">Filtrar por nome:</label>
                                            
                                        </div>
                                      
                              
                                
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-3 filtro-pos my-2">

                              
                                        <div class="form-floating">
                                            {{ filtro.categoria }}
                                            
                                            <br>
                                            <label class="fs-8" for="floatingSelectGrid">Filtrar por categoria:</label> 
                                        </div>
                                 
                            </div>


                            <div class="col-lg-3 col-md-6 col-sm-3 filtro-pos my-2">
                              
                                        <div class="form-floating">
                                            
                                            {{ filtro.turma }}
                                            <br>
                                            <label class="fs-8" for="floatingSelectGrid">Filtrar por turma:</label> 
                                        </div>
                                    
                                
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-3 filtro-pos my-2">
                              
                                  
                                      <div class="form-floating">
                                          {{ filtro.order }}
                                          <br>
                                          <label class="fs-8" for="floatingSelectGrid">Ordernar por:</label> 
                                      </div>
                                  
                              
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="registers-table my-5">
                <div class="container-fluid">
                    <div class="row bg-white shadow">
                        <div class="col-md-12">
                            <div class="register-list">
                                <!-- # TITULO -->
                                <div class="data-table-section table-responsive">
                                    <table id="myTable" class="table table-bordered table-striped display" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="titulo text-center">Data</th>
                                                <th class="titulo text-center">Nome</th>
                                                <th class="titulo text-center">Altura</th>
                                                <th class="titulo text-center">Peso</th>
                                                <th class="titulo text-center">IMC</th>
                                                <th class="titulo text-center">Categoria</th>
                                                <th class="titulo text-center">Turma</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for i in historico %}
                                            <tr>
                                                <td>{% if i.timeStamp is None %}
                                                    <p>03/05/2024</p>
                                                    {% else %}
                                                    i.timeStamp
                                                    {% endif %}
                                                    </td>
                                                <td class="text-center">{{i.fullName}}</td>
                                                <td class="text-center">{{i.altura}}</td>
                                                <td class="text-center">{{i.peso}}</td>
                                                <td class="text-center">{{i.imc}}</td>
                                                <td class="text-center">{{i.categoria__categoria_nome}}</td>
                                                <td class="text-center">{{i.id_turma__descricao}}</td>
                                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                              <th class="titulo text-center">Data</th>
                                              <th class="titulo text-center">Nome</th>
                                              <th class="titulo text-center">Altura</th>
                                              <th class="titulo text-center">Peso</th>
                                              <th class="titulo text-center">IMC</th>
                                              <th class="titulo text-center">Categoria</th>
                                              <th class="titulo text-center">Turma</th>
                                            </tr>
                                        </tfoot>
                                        
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
    </div>



</div>
{% endblock %}

{% block 'scripts' %}
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
<script>

$(function() {
    $("#myTable").dataTable({
        language:{
          "info":"Mostrando de _START_ a _END_ de _TOTAL_ registros",
          "infoEmpty":"Sem registros encontrados",
          "lengthMenu": " _MENU_ registros por página"

        },
        ordering: false,
        searching: false,
        "iDisplayLength": 25,
        "aLengthMenu": [[25, 50, 100,  -1], [25, 50, 100, "Todas"]]
       });
   });


// ======= GRAFICO IMC GERAL =======

var options_geral = {
    series: [{
    name: 'Abaixo do peso',
    data: {{data_json.abaixo_peso}}
  }, {
    name: 'Peso Normal',
    data: {{data_json.peso_normal}}
  }, {
    name: 'Sobrepeso',
    data: {{data_json.sobrepeso}}
  }, {
    name: 'Obesidade',
    data: {{data_json.obesidade}}
  }],
    chart: {
    type: 'bar',
    height: 350,
    stacked: true,
  },
  plotOptions: {
    bar: {
      horizontal: true,
      dataLabels: {
        total: {
          enabled: true,
          offsetX: 0,
          style: {
            fontSize: '12px',
            fontWeight: 600
          }
        }
      }
    },
  },
  stroke: {
    width: 1,
    colors: ['#fff']
  },
  title: {
    text: 'IMC Infantil Geral'
  },
  xaxis: {
    categories: ['1º ano', '2º ano', '3º ano', '4º ano', '5º ano'],
    labels: {
      formatter: function (val) {
        return val 
      }
    }
  },
  yaxis: {
    title: {
      text: undefined
    },
  },
  tooltip: {
    y: {
      formatter: function (val) {
        return val 
      }
    }
  },
  fill: {
    opacity: 1
  },
  legend: {
    position: 'top',
    horizontalAlign: 'left',
    offsetX: 40
  }
  };




// ======= GRAFICO IMC FEMININO=======

var options_female = {
    series: [{
    name: 'Abaixo do peso',
    data: {{data_json_f.abaixo_peso}}
  }, {
    name: 'Peso Normal',
    data: {{data_json_f.peso_normal}}
  }, {
    name: 'Sobrepeso',
    data: {{data_json_f.sobrepeso}}
  }, {
    name: 'Obesidade',
    data: {{data_json_f.obesidade}}
  }],
    chart: {
    type: 'bar',
    height: 350,
    stacked: true,
  },
  plotOptions: {
    bar: {
      horizontal: true,
      dataLabels: {
        total: {
          enabled: true,
          offsetX: 0,
          style: {
            fontSize: '12px',
            fontWeight: 600
          }
        }
      }
    },
  },
  stroke: {
    width: 1,
    colors: ['#fff']
  },
  title: {
    text: 'IMC Infantil Feminino'
  },
  xaxis: {
    categories: ['1º ano', '2º ano', '3º ano', '4º ano', '5º ano'],
    labels: {
      formatter: function (val) {
        return val 
      }
    }
  },
  yaxis: {
    title: {
      text: undefined
    },
  },
  tooltip: {
    y: {
      formatter: function (val) {
        return val 
      }
    }
  },
  fill: {
    opacity: 1
  },
  legend: {
    position: 'top',
    horizontalAlign: 'left',
    offsetX: 40
  }
  };


// ======= GRAFICO IMC MASCULINO =======

var options_male = {
    series: [{
    name: 'Abaixo do peso',
    data: {{data_json_m.abaixo_peso}}
  }, {
    name: 'Peso Normal',
    data: {{data_json_m.peso_normal}}
  }, {
    name: 'Sobrepeso',
    data: {{data_json_m.sobrepeso}}
  }, {
    name: 'Obesidade',
    data: {{data_json_m.obesidade}}
  }],
    chart: {
    type: 'bar',
    height: 350,
    stacked: true,
  },
  plotOptions: {
    bar: {
      horizontal: true,
      dataLabels: {
        total: {
          enabled: true,
          offsetX: 0,
          style: {
            fontSize: '12px',
            fontWeight: 600
          }
        }
      }
    },
  },
  stroke: {
    width: 1,
    colors: ['#fff']
  },
  title: {
    text: 'IMC Infantil Masculino'
  },
  xaxis: {
    categories: ['1º ano', '2º ano', '3º ano', '4º ano', '5º ano'],
    labels: {
      formatter: function (val) {
        return val 
      }
    }
  },
  yaxis: {
    title: {
      text: undefined
    },
  },
  tooltip: {
    y: {
      formatter: function (val) {
        return val 
      }
    }
  },
  fill: {
    opacity: 1
  },
  legend: {
    position: 'top',
    horizontalAlign: 'left',
    offsetX: 40
  }
  };


// ============ GRAFICO DONNUT ===============

var options = {
  plotOptions: {
    pie: {
      donut: {
        labels: {
          show: true,
          name: {
            show: true,
            fontWeight: 600
          },
          value: {
            show: true,
            formatter: function (val) {
              return val + " crianças"
            },
            fontWeight: 600
          }
        }
      }
    }
  },
    series: {{data_donnut}},
    colors:[ '#187818','#d83030'],
    labels: ['IMC Normal\n', 'IMC fora do padrão'],
    chart: {
    type: 'donut',
    width: '300px',
    height: '345px'
    
  },
  dataLabels: {
    enabled: true
  },
  legend: {
    position:'bottom'
  },
  responsive: [{
    breakpoint: 1599,
    options: {
      chart: {
        width: 300
      },
      legend: {
        position:'bottom'
      }
    }
  }]
  };

  var chart2 = new ApexCharts(document.querySelector("#chart-2"), options);
  chart2.render();


 var chart = new ApexCharts(document.querySelector("#geral"), options_geral);
 chart.render();


 var chart = new ApexCharts(document.querySelector("#female"), options_female);
 chart.render();

 var chart = new ApexCharts(document.querySelector("#male"), options_male);
 chart.render();
</script>
{%endblock%}