{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{%block title %}Login {% endblock %}
{% block content %}

<!-- Login 8 - Bootstrap Brain Component -->

<section class="bg-light p-3 p-md-4 p-xl-5">
  {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  {% endfor %} {% endif %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-11">
        <div class="card border-light-subtle shadow-sm">
          <div class="row g-0">
            <div class="col-12 col-md-6">
              <img
                class="img-fluid rounded-start w-100 h-100 object-fit-cover"
                loading="lazy"
                src="{% static 'images/login.png' %}"
                alt="Welcome back you've been missed!"
              />
            </div>
            <div
              class="col-12 col-md-6 d-flex align-items-center justify-content-center"
            >
              <div class="col-12 col-lg-11 col-xl-10">
                <div class="card-body p-3 p-md-4 p-xl-5">
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5">
                        <div class="text-center mb-4">
                          <a href="#!">
                            <img
                              src="{% static 'images/login_simples.png' %}"
                              alt="BootstrapBrain Logo"
                              width="175"
                              height="57"
                            />
                          </a>
                        </div>
                        <h4 class="text-center">Acesso dos educadores</h4>
                      </div>
                    </div>
                  </div>
                  <form action="{%  url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="row gy-3 overflow-hidden">
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input
                            type="text"
                            class="form-control"
                            name="username"
                            id="username"
                            placeholder="Nome de usuário"
                            required
                          />
                          <label for="username" class="form-label"
                            >Nome de usuário</label
                          >
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input
                            type="password"
                            class="form-control"
                            name="password"
                            id="password"
                            value=""
                            placeholder="Senha"
                            required
                          />
                          <label for="password" class="form-label">Senha</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="d-grid">
                          <button class="btn btn-dark btn-lg" type="submit">
                            Login
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="row">
                    <div class="col-12"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

