{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{%block title %}Turmas {% endblock %}
{% block content %}


    <h1 style="color: aliceblue;" >Escolha uma Turma</h1>
    <form method="POST">
        {% csrf_token %}

        

        
        
        <select class="form-select" name="turma" id="turma" onchange="this.form.submit()">
            <option value="" disabled {% if not turma_selecionada %} selected {% endif %}>Selecione a turma</option>
            {% for turma in turmas %}
                <option value="{{ turma.id_turma.id }}" {% if turma_selecionada.id == turma.id_turma.id %} selected {% endif %}>
                    {{ turma.id_turma.descricao }}
                </option>
            {% endfor %}
        </select>

    </form>

    <br>


    {%  if alunos %}

    <h2 style="color: aliceblue;">Alunos do {{ turma_selecionada.descricao }}</h2>

    <br>


    <table class="table">

    

        <thead>
            <tr>
                <th scope="col">Nome: </th>
                <th scope="col">Adicionar Medidas</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}

            <tr>
                <td> {{ aluno }}</td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal{{ aluno.id }}">
                        Adicionar
                    </button>
                </td>
            </tr>


            <!-- Modal -->

<div class="modal fade" id="modal{{ aluno.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ aluno.id }}" aria-hidden="true">

    {% if messages %} 
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel{{ aluno.id }}">Medidas de {{ aluno }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{% url 'adicionar_medidas' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="aluno_id" value="{{ aluno.id }}">
                    <div class="form-group">
                        <label for="altura">Altura (em metros):</label>
                        <input type="number" min="0.9" max="2.5" step="0.01" class="form-control" name="altura" required>
                    </div>
                    <div class="form-group">
                        <label for="peso">Peso (em Kg):</label>
                        <input type="number" min="10" max="200" step="0.01" class="form-control" name="peso" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar Medidas</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- Fim Modal -->
    

            {% endfor %}

        </tbody>

    </table>

        
    {% endif %}
</div>


{% endblock %}

{% block 'scripts' %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        form.addEventListener('submit', function(event) {
            let altura = parseFloat(form.querySelector('[name="altura"]').value);
            let peso = parseFloat(form.querySelector('[name="peso"]').value);
    
            if (altura < 0.9 || altura > 2.5 || isNaN(altura)) {
                alert('Por favor, insira uma altura válida entre 0.9 e 2.5 metros.');
                event.preventDefault(); // Impede o envio do formulário
            }
    
            if (peso < 10 || peso > 200 || isNaN(peso)) {
                alert('Por favor, insira um peso válido entre 10 e 300 kg.');
                event.preventDefault(); // Impede o envio do formulário
            }
        });
    });
    </script>

{%endblock%}