{% extends 'base-index.html' %}
{% load static %}
{% load django_bootstrap5 %}
{%block title %}Turmas {% endblock %}
{% block 'conteudo' %}


<div class="content-wrapper">
    <section class="dashboard-top-sec">
        <div class="container-fluid">
<section class="bg-light p-3 p-md-4 p-xl-5 mt-2">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} 
    {% endif %}

    <div class="container mt-2">

        <!-- Select de Turmas -->

        <h1 style="color: #212529;">Escolha uma Turma</h1>

        <form method="POST">
            {% csrf_token %}
    
            <select class="form-select" name="turma" id="turma" onchange="this.form.submit()">
                <option value="" disabled {% if not turma_selecionada %} selected {% endif %}>Selecione a turma</option>
                {% for turma in turmas %}
                    <option value="{{ turma.id_turma.id }}" {% if turma_selecionada.id == turma.id_turma.id %} selected {% endif %}>
                        {{ turma.id_turma.descricao }}
                    </option>
                {% endfor %}
            </select>
    
        </form>

        <!-- Fim Select de Turmas -->

    <br>


    {%  if alunos %}

    <h2 style="color: #212529;">Alunos do {{ turma_selecionada.descricao }}</h2>

    <br>

        <div class="mb-3">
            <label class="visually-hidden" for="searchInput">Nome do aluno...</label>
            <div class="input-group">
            <div class="input-group-text">Qual aluno você procura?</div>
            <input type="text" class="form-control" id="searchInput" onkeyup="filterNames()" placeholder="Nome do aluno...">
            </div>
        </div>


    <table class="table" id="alunosTable">

    

        <thead>
            <tr>
                <th scope="col">Nome: </th>
                <th scope="col">Adicionar Medidas</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}

            <tr>
                <td> {{ aluno }}</td>
                <td>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modal{{ aluno.id }}">
                        Adicionar
                    </button>
                </td>
            </tr>


            <!-- Modal -->

<div class="modal fade" id="modal{{ aluno.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ aluno.id }}" aria-hidden="true">

    {% if messages %} 
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel{{ aluno.id }}">Medidas de {{ aluno }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{% url 'adicionar_medidas' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="aluno_id" value="{{ aluno.id }}">
                    <input type="hidden" name="turma_id" id="turma_id" value="{{ turma_selecionada.id }}">
                    <div class="form-group">
                        <label for="altura">Altura (em metros):</label>
                        <input type="number" min="0.9" max="2.5" step="0.01" class="form-control" name="altura" required>
                    </div>
                    <div class="form-group">
                        <label for="peso">Peso (em Kg):</label>
                        <input type="number" min="10" max="200" step="0.01" class="form-control" name="peso" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar Medidas</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- Fim Modal -->
    

            {% endfor %}

        </tbody>

    </table>

    {% endif %}


    </div>

</section>

</div>
</div>

</section>

</div>


{% endblock %}

{% block 'scripts' %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        form.addEventListener('submit', function(event) {
            let altura = parseFloat(form.querySelector('[name="altura"]').value);
            let peso = parseFloat(form.querySelector('[name="peso"]').value);
    
            if (altura < 0.9 || altura > 2.5 || isNaN(altura)) {
                alert('Por favor, insira uma altura válida entre 0.9 e 2.5 metros.');
                event.preventDefault(); // Impede o envio do formulário
            }
    
            if (peso < 10 || peso > 200 || isNaN(peso)) {
                alert('Por favor, insira um peso válido entre 10 e 300 kg.');
                event.preventDefault(); // Impede o envio do formulário
            }
        });
    });

    function filterNames() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("alunosTable");
    tr = table.getElementsByTagName("tr");

    // Loop por todas as linhas da tabela, e esconde aquelas que não correspondem à busca
    for (i = 0; i < tr.length; i++) {
        // Altere o índice de 'td' conforme necessário. Por exemplo, '0' para o primeiro nome, '1' para o sobrenome
        td = tr[i].getElementsByTagName("td")[0]; // Assume que você está buscando pelo nome na primeira coluna
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }       
    }
}
    </script>

{%endblock%}


{% block 'sidebar' %} 



<ul id="sidebar">
    <li>
        <a href="{%  url 'home' %}"><i class="bi bi-house-fill"></i>Home</a>
    </li>

  <li class="active">
    <a href="#"><i class="bi bi-mortarboard-fill"></i>Turmas</a>
  </li>

  <li>
    <a href="{%  url 'dashboard' %}"><i class="bi bi-speedometer2"></i>Dashboard</a>
  </li>

  <li>
    <a href="{%  url 'logout' %}"><i class="bi bi-box-arrow-in-right"></i>Sair</a>
  </li>
</ul>

{%endblock%}
